
@{
    ViewBag.Title = "IndexForAbout";
}

<!-- about -->
<div class="about">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header">About <span>Website</span></h3>
            <p>
                Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty
                and skin care services will suit every beauty need.
            </p>
        </div>
        <div class="ab-agile">
            <div class="col-md-6 aboutleft">
                <h3>Registration for sevice of Beauty Salon</h3>
                <p class="para1">
                    Donec bibendum velit quis diam venenatis, vulputate aliquam sapien blandit.
                    Etiam dui massa, vehicula a convallis a, facilisis vitae neque.Pellentesque sit amet
                    odio quis libero eleifend congue at ac justo. Suspendisse posuere congue accumsan Vulputate aliquam sapien.
                </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
            </div>
            <div class="col-md-6 aboutright">
                <img src="images/p1.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- Team section -->
<section class="team">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header">About <span>Creators</span></h3>
            <p>
                Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty
                and skin care services will suit every beauty need.
            </p>
        </div>

        <div class="team-grid-top">
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img class="creatorsImage" src="images/nara.jpg" alt="" />
                    <h3>Nara Mnacakanyan</h3>
                    <h4>IT Support Specialist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img class="creatorsImage" src="images/nazik.jpg" alt="" />
                    <h3>Nazik Injyan</h3>
                    <h4>Junior C# developer</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- //Team section -->
