
@{
    ViewBag.Title = "IndexForBeautySalon";
}

<!-- Team section -->
<section class="team">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header">Select  <span>your favorite</span> beauty salon</h3>
            <p>
                Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty
                and skin care services will suit every beauty need.
            </p>
        </div>

        <div class="team-grid-top">
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/imageCode.jpg" alt="" class="beautySalonImages" />
                    <h3>Image Code</h3>
                    <h4>6 Ghazar Parpetsi St, Yerevan 0002</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/agaBeauty.jpg" alt="" class="beautySalonImages" />
                    <h3>Aga</h3>
                    <h4>14 Isahakyan St, Yerevan 0025</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/capriseBeauty.jpg" alt="" class="beautySalonImages" />
                    <h3>Caprise</h3>
                    <h4>Sayat Nova 12</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/valentinaBeauty.jpg" alt="" class="beautySalonImages" />
                    <h3>Valentina</h3>
                    <h4>Teryan 51</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="specialBeautySalonName" style="background-color:aqua">mhbhbkbbkj</div>


        <div class="team-grid-top">
            <div class="col-md-3 team1" id="beautySalon1" onclick="goBeautySalonPage(this.id)">
                <div class="inner-team1">
                    <img src="images/kokoBeauty.jpg" alt="" class="beautySalonImages" />
                    <h3>Koko kalayjyan  </h3>
                    <h4>Amiryan 40</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/aga.jpg" alt="" class="beautySalonImages" />
                    <h3>Aga</h3>
                    <h4>Hairstylist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/boy.jpg" alt="" class="beautySalonImages" />
                    <h3>Jack Mersany</h3>
                    <h4>Beautician</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/julia.jpg" alt="" class="beautySalonImages" />
                    <h3>Julia</h3>
                    <h4>Cosmetologist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</section>
<!-- //Team section -->
