@{
    ViewBag.Title = "Home Page";
    ViewBag.PageHeaderText = "Register to Beauty Salon";
}

@*modal doesn't work*@
<!-- Modal1 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Beauty Salon</h4>
                <img src="~/images/11.jpg" alt=" " class="img-responsive">
                <h5>Neque porro quisquam est qui dolorem </h5>
                <p>
                    Ut in ligula sollicitudin, auctor elit vel, mollis tortor. Nullam id magna in eros mollis porttitor vel et eros.Phasellus
                    sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus arcu. Donec eros
                    tortor, ultrices in lectus quis, aliquet commodo lectus.Donec eros tortor, ultrices in lectus quis, aliquet commodo
                    lectus.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<div class="container">
    <h2>Advertisements</h2>  @*https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel2&stacked=h*@
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
              @*<ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>*@

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="~/images/11.jpg" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Aga</h3>
                    <p>5% Discount!</p>
                    <p>For all wedding makeup!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/11.jpg" alt="Chicago" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Caprise</h3>
                    <p>10% Discount!</p>
                    <p>For every first client!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/11.jpg" alt="New York" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Image Code</h3>
                    <p>5% Discount!</p>
                    <p>For every 3th visit!</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Latest News -->
<div class="practice-areas">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header">Our <span>Services</span></h3>
            <p>
                Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty
                and skin care services will suit every beauty need.
            </p>
        </div>
        <div class="area-main">
            <div class="col-md-6 area-inner">
                <div class="area-img1">
                </div>
                <div class="area-right p1">
                    <h5>FACIAL</h5>
                    <p class="para-w3-agile">
                        Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus
                        arcu.
                        Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.
                    </p>
                </div>
            </div>
            <div class="col-md-6 area-inner">
                <div class="area-img2">
                </div>
                <div class="area-right p2">
                    <h5>MAKEUP</h5>
                    <p class="para-w3-agile">
                        Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus
                        arcu.
                        Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.
                    </p>
                </div>
            </div>
        </div>
        <div class="area-main">
            <div class="col-md-6 area-inner">
                <div class="area-right p3">
                    <h5>NAIL CARE</h5>
                    <p class="para-w3-agile">
                        Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus
                        arcu.
                        Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.
                    </p>
                </div>
                <div class="area-img3">
                </div>
            </div>
            <div class="col-md-6 area-inner">
                <div class="area-right p4">
                    <h5>HAIR CARE</h5>
                    <p class="para-w3-agile">
                        Phasellus sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin luctus
                        arcu.
                        Donec eros tortor, ultrices in lectus quis, aliquet commodo lectus.
                    </p>
                </div>
                <div class="area-img4">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Latest News -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <img class="jarallax-img" src="~/images/33.jpg" alt="">
    <div class="container">
        <h3>Nisl amet dolor sit ipsum veroeros sed blandit</h3>
        <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <div class="botton">
            <a href="about.html">About Us</a>
        </div>
    </div>
</div>
<!-- //wthree-mid -->
<!-- counter -->
<div class="services-bottom jarallax">
    <img class="jarallax-img" src="~/images/11.jpg" alt="">
    <div class="banner-dott1">
        <div class="container">
            <div class="wthree_head_section">
                <h3 class="w3l_header two">Our <span>Statistics</span></h3>
                <p class="tho">
                    Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty
                    and skin care services will suit every beauty need.
                </p>
            </div>
            <div class="wthree-agile-counter">
                <div class="col-md-3 w3_agile_stats_grid-top">
                    <div class="w3_agile_stats_grid">
                        <div class="agile_count_grid_left">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                        <div class="agile_count_grid_right">
                            <p class="counter">324</p>
                        </div>
                        <div class="clearfix"> </div>
                        <h4>Services</h4>
                    </div>
                </div>
                <div class="col-md-3 w3_agile_stats_grid-top">
                    <div class="w3_agile_stats_grid">
                        <div class="agile_count_grid_left">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="agile_count_grid_right">
                            <p class="counter">543</p>
                        </div>
                        <div class="clearfix"> </div>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
                <div class="col-md-3 w3_agile_stats_grid-top">
                    <div class="w3_agile_stats_grid">
                        <div class="agile_count_grid_left">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="agile_count_grid_right">
                            <p class="counter">434</p>
                        </div>
                        <div class="clearfix"> </div>
                        <h4>Good Masters</h4>
                    </div>
                </div>
                <div class="col-md-3 w3_agile_stats_grid-top">
                    <div class="w3_agile_stats_grid">
                        <div class="agile_count_grid_left">
                            <span class="fa fa-trophy" aria-hidden="true"></span>
                        </div>
                        <div class="agile_count_grid_right">
                            <p class="counter">234</p>
                        </div>
                        <div class="clearfix"> </div>
                        <h4>Beauty Salons</h4>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //counter -->
