
@{
    ViewBag.Title = "IndexForMaster";
}

<!-- Team section -->
<section class="team">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header">Our <span>Team</span></h3>
            <p>
                Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty
                and skin care services will suit every beauty need.
            </p>
        </div>

        <div class="team-grid-top">
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/t1.jpg" alt="" />
                    <h3>Selena</h3>
                    <h4>Stylist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/t3.jpg" alt="" />
                    <h3>Mary louis</h3>
                    <h4>Hairstylist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/t2.jpg" alt="" />
                    <h3>Paul kerry</h3>
                    <h4>Beautician</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img src="images/t4.jpg" alt="" />
                    <h3>john watson</h3>
                    <h4>Cosmetologist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="team-grid-top">
            <div class="col-md-3 team1" id="master1" onclick="goMasterPage(this.id)">
                <div class="inner-team1">
                    <img class="masterImage" src="images/beckham.jpg" alt="" />
                    <h3>Beckhammmmmm</h3>
                    <h4>Stylist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img class="masterImage" src="images/aga.jpg" alt="" />
                    <h3>Aga</h3>
                    <h4>Hairstylist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img class="masterImage" src="images/boy.jpg" alt="" />
                    <h3>Jack Mersany</h3>
                    <h4>Beautician</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">
                    <img class="masterImage" src="images/julia.jpg" alt="" />
                    <h3>Julia</h3>
                    <h4>Cosmetologist</h4>
                    <p>Lorem ipsum dolor sit amet, Phasselleous carnivel dolor</p>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</section>
<!-- //Team section -->
