@using ServicesOfBeautySalon.Models
@model List<UserModel>

@{
    ViewBag.Title = "MasterIndex";
}

<h2>Master's Index</h2>
@foreach (var master in Model)
{
    <h1>ID:  @master.ID</h1>
    <p>FirstName:  @master.FirstName</p>
    <p>LastName:  @master.LastName</p>
    <p>Email:  @master.Email</p>
}

