@model ServicesOfBeautySalon.Models.ServiceTypeModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/ServiceType/Create" method="post">
    <input type="text" name="Name" />
    <input type="text" name="ImageURL" />
    <br/>
    <br/>
    <input type="submit" />
</form>
