@*@model ServicesOfBeautySalon.Models.ServiceTypeModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="text-danger">
    @Html.ValidationMessageFor(st => st.Name)
</div>
<form action="~/ServiceType/Create" method="post">
    Name:
    <input type="text" name="Name" />
    <div class="text-danger">
        @Html.ValidationMessageFor(st => st.Name)
    </div>
    ImageURL:
    <input type="text" name="ImageURL" />
    <br />
    <br />
    <input type="submit" />
    <a href="~/ServiceType/Index"> Cancel </a>
</form>*@
